*.egg-info
__pychace__/
tests/.ipynb_checkpoints/
*.swp
*.pyc
*.mypy_cache
settings.json
*.ipynb_checkpoints/

mkutils.egg-info/requires.txt
mkutils.egg-info/SOURCES.txt
mkutils.egg-info/top_level.txt
.DS_Store
.vscode/launch.json
mkutils/tests/test.json
test.json
