*.egg-info
__pychace__/
tests/.ipynb_checkpoints/
*.swp
*.pyc
*.mypy_cache
settings.json
*.ipynb_checkpoints/

mkutils.egg-info/requires.txt
mkutils.egg-info/SOURCES.txt
mkutils.egg-info/top_level.txt
.DS_Store
.vscode/launch.json
mkutils/tests/test.json
test.json
ffnonbonded.itp
tableMIE_11.05_6.xvg
table_CM_W.xvg
table_10.0_6.0.xvg
mkutils/tests/rho.out
mkutils/tests/ffnonbonded.itp
